<!-- admin -->
<div class="card border-0 bg-transparent sticky-top" style="cursor: pointer;" *ngIf="admin">
    <div class="card-body p-0">
        <div id="adminButton" class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{'pollroom.admin.butt' | translate}}
              </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" *ngIf="!ifConnecting" (click)="questionPanel()"><i class="fas fa-list-ul"></i> {{'pollroom.admin.create' | translate}}</a>
                <a class="dropdown-item" (click)="showQr()"><i class="fas fa-qrcode"></i> {{'pollroom.admin.share' | translate}}</a>
                <a class="dropdown-item" *ngIf="!ifConnecting" (click)="archive()"><i class="far fa-file-pdf"></i> {{'pollroom.admin.archive' | translate}}</a>
                <a class="dropdown-item" *ngIf="!ifConnecting" (click)="closeRoom()"><i class="fas fa-times-circle"></i> {{'pollroom.admin.close' | translate}}</a>
                <p class="dropdown-item" *ngIf="!ifConnecting"><i class="far fa-calendar-times"></i> {{room.expirationDate}}</p>
            </div>
        </div>
    </div>
</div>
<!-- end admin -->

<!-- client -->
<div class="top card border-0 bg-transparent p-0" *ngIf="!admin && !ifConnecting">
    <div class="card-body p-0">
        <div id="adminButton" class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary" (click)="showQr()">
                {{'pollroom.admin.share' | translate}}
                  </button>
        </div>
    </div>
</div>
<br>
<!-- end client -->

<div [hidden]="true" id="qr">
    <ngx-qrcode (click)="showQr()" qrc-errorCorrectionLevel="H" qrc-element-type="url" [qrc-value]="shortLink"></ngx-qrcode>
</div>
<div class="lds-roller" *ngIf="ifConnecting">
    <!-- roller = don't delete -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<h2 *ngIf="!ifConnecting && !(questions?.length> 0)">{{'pollroom.noquestion' | translate}} <br></h2>

<div *ngIf="openedPDFPanel" class="my-card" id="questionPanel" [@inOutAnimation]>
    <div class="my-card-header">
        <h3>{{'pollroom.admin.chooseQuestions' | translate}}</h3>
    </div>
    <div class="card-body">
        <button class="btn btn-secondary btn-sm" (click)="checkAll()">{{'pollroom.admin.checkAll' | translate}}</button>
        <div *ngFor="let que of questions; let i = index" class="form-check" (click)="selectQuestionToDocument(que)">
            <form>
                <label><input class="form-radio" type="radio" [checked]="que.toArchive" name="radiogroup" [value]="i">{{que.question}}</label>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="openPDF()"><i class="fas fa-check-circle"></i> {{'pollroom.admin.generatePDF' | translate}}</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-success" (click)="openCSV()"><i class="fas fa-check-circle"></i> {{'pollroom.admin.generateCSV' | translate}}</button>
        <button type="button" class="btn btn-light float-right" (click)="archive()"><i class="fas fa-times-circle" ></i></button>
    </div>
</div>


<div *ngIf="opened" class="my-card" id="questionPanel" [@inOutAnimation]>
    <div class="my-card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" style="cursor: pointer; color: blue;" (click)="changeType(1)" id="yesNo">{{'pollroom.questions.yesNo' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer; color: blue;" (click)="changeType(2)" id="options">{{'pollroom.questions.multi' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer; color: blue;" (click)="changeType(3)" id="rate">{{'pollroom.questions.rate' | translate}}</a>
            </li>
        </ul>
    </div>

    <div class="card-body" *ngIf="type == 1">
        <h5 class="card-title">{{'pollroom.questions.yesNo' | translate}}</h5>
        <input type="text" class="form-control" id="question" placeholder="{{'pollroom.questions.placeHolder' | translate}}">
        <div *ngIf="emptyQuestion" class="alert alert-danger">
            {{'pollroom.errors.empty' | translate}}
        </div>
    </div>

    <div class="card-body" *ngIf="type == 2">
        <h5 class="card-title">{{'pollroom.questions.multi' | translate}}</h5>
        <input type="text" class="form-control" id="question" placeholder="{{'pollroom.questions.placeHolder' | translate}}">
        <div *ngIf="emptyQuestion" class="alert alert-danger">
            {{'pollroom.errors.empty' | translate}}
        </div>
        <br>
        <h5 class="card-title">{{'pollroom.ans' | translate}}</h5>
        <ul class="list-group" id="answerList">
            <li *ngFor="let ans of answers" (click)="removeAnswer(ans.id)" class="list-group-item list-group-item-action" style="cursor: pointer;">{{ans.answer}}</li>
            <div *ngIf="notEnoughtAnswers" class="alert alert-danger">
                {{'pollroom.errors.min2' | translate}}
            </div>
        </ul>
        <div class="input-group" style="margin-top: 10px;">
            <input type="text" class="form-control" id="answer" placeholder="{{'pollroom.placeHolder' | translate}}">
            <span class="input-group-addon input-group-addon-btn bg-white">
                <button class="btn px-9 bg-white" (click)="addAnswer()"><i class="fas fa-plus-circle"></i></button>
            </span>
        </div>
        <div *ngIf="emptyAnswer" class="alert alert-danger">
            {{'pollroom.errors.empty' | translate}}
        </div>
        <br>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="multiple">
            <label class="form-check-label" for="multiple">{{'pollroom.questions.multiAns' | translate}}</label>
        </div>
    </div>

    <div class="card-body" *ngIf="type == 3">
        <h5 class="card-title">{{'pollroom.questions.rate' | translate}}</h5>
        <input type="text" class="form-control" id="question" placeholder="{{'pollroom.questions.placeHolder' | translate}}">
        <div *ngIf="emptyQuestion" class="alert alert-danger">
            {{'pollroom.errors.empty' | translate}}
        </div>
        <br>
        <p>{{'pollroom.questions.min' | translate}}: {{from}}</p>
        <input type="range" min="0" max="20" [(ngModel)]="from" class="slider" id="from">
        <p>{{'pollroom.questions.max' | translate}}: {{to}}</p>
        <input type="range" min="0" max="20" [(ngModel)]="to" class="slider" id="to">
        <div *ngIf="to < from" class="alert alert-danger">
            {{'pollroom.errors.range' | translate}}
        </div>
    </div>

    <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="sendQuestion()"><i class="fas fa-check-circle"></i>{{'pollroom.questions.butt' | translate}}</button>
        <button type="button" class="btn btn-light float-right" (click)="questionPanel()"><i class="fas fa-times-circle" ></i></button>
    </div>
</div>

<div class="my-card" *ngFor="let element of questions" [@inOutAnimation]>
    <div class="my-card-header">
        <span>{{element.question}}</span>
        <button *ngIf="admin" type="button" class="btn btn-light float-right" (click)="deleteQuestion(element)" title="{{'pollroom.admin.delete' | translate}}"><i color= "red" class="fas fa-times-circle" ></i></button>
        <button *ngIf="admin && element.active" type="button" class="btn btn-light float-right" title="{{'pollroom.admin.freeze' | translate}}" (click)="freezeQuestion(element)"><i class="far fa-pause-circle"></i></button>
        <button *ngIf="admin && !element.active" type="button" class="btn btn-light float-right" title="{{'pollroom.admin.enable' | translate}}" (click)="freezeQuestion(element)"><i color ='green' class="far fa-pause-circle"></i></button>
        <button *ngIf="admin && element.hiddenResults" type="button" class="btn btn-light float-right" title="{{'pollroom.admin.expose' | translate}}" (click)="hideResults(element)"><i color ='green' class="fas fa-eye-slash"></i></button>
        <button *ngIf="admin && !element.hiddenResults" type="button" class="btn btn-light float-right" title="{{'pollroom.admin.hide' | translate}}" (click)="hideResults(element)"><i class="fas fa-eye-slash"></i></button>
        <button type="button" class="btn btn-light float-right" (click)="hideQuestion(element)"><i id={{element.id}} class="fas fa-angle-down"></i></button>
    </div>

    <div *ngIf="element.type != 'rate'" [hidden]="element.hidden || element.hidden == null" [@inOutAnimationDetails] class="card-body">
        <div *ngFor="let ans of element.answers; let i = index" class="form-check" (click)="selectAnswer(element,i)">
            <form>
                <label><input class="form-radio" type="radio" [checked]="element.selected.includes(i)" name="radiogroup" [value]="i">{{ans}}</label>
            </form>
        </div>
        <br>
        <span *ngIf="element.hiddenResults" class="float-right">{{'pollroom.votes' | translate}}: {{element.totalNumberOfVotes}} <i class="far fa-user"></i></span>
        <button *ngIf="element.active" (click)="sendAnswer(element)" type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> {{'pollroom.ans-butt' | translate}}</button>
        <button *ngIf="!element.active" disabled="true" type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> {{'pollroom.errors.inactive' | translate}}</button>
        <app-chart id="{{'chart-' + element.id}}" *ngIf="!element.hiddenResults" [question]=element [chartTrigger]="chartTrigger"> </app-chart>
    </div>

    <div *ngIf="element.type == 'rate'" [hidden]="element.hidden || element.hidden == null" [@inOutAnimationDetails] class="card-body">
        <p>{{'pollroom.yourAns' | translate}}: {{element.selected[0]}}</p>
        <input type="range" min="{{element.answers[0]}}" max="{{element.answers[element.answers.length-1]}}" [(ngModel)]="element.selected[0]" class="slider">
        <span *ngIf="element.hiddenResults" class="float-right">{{'pollroom.votes' | translate}}: {{element.totalNumberOfVotes}} <i class="far fa-user"></i></span>
        <button *ngIf="element.active" (click)="sendAnswer(element)" type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> {{'pollroom.ans-butt' | translate}}</button>
        <button *ngIf="!element.active" disabled="true" type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> {{'pollroom.errors.inactive' | translate}}</button>
        <app-chart id="{{'chart-' + element.id}}" *ngIf="!element.hiddenResults" [question]=element [chartTrigger]="chartTrigger"> </app-chart>
    </div>

</div>

<router-outlet></router-outlet>