.btn-group {
    flex-wrap: wrap;
}

.a {
    margin-right: 0;
}

.back {
    z-index: 10;
}

.card-header {
    justify-content: space-between;
}

#voters {
    background: transparent;
    cursor: default;
}

.middle {
    white-space: normal;
}

h2,
h6 {
    color: white;
}


/*
@media all and (max-width: 800px) {
    button {
        width: 100%;
        margin-top: 10px;
    }
}
*/