<!-- admin -->
<div class="sticky-top">
    <div id="adminButton" class="btn-group" role="group" *ngIf="admin">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" *ngIf="!ifConnecting" (click)="questionPanel()"><i class="fas fa-list-ul"></i> Utwórz pytanie</a>
            <a class="dropdown-item" (click)="showQr()"><i class="fas fa-qrcode"></i> Udostępnij</a>
            <a class="dropdown-item" *ngIf="!ifConnecting" (click)="closeRoom()"><i class="fas fa-times-circle"></i> Zamknij pokój</a>
            <p class="dropdown-item" *ngIf="!ifConnecting"><i class="far fa-calendar-times"></i> {{room.expirationDate}}</p>
        </div>
    </div>
</div>
<!-- end admin -->

<!-- client -->
<div class="top">
    <div id="adminButton" class="btn-group" role="group" *ngIf="!admin && !ifConnecting">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary" (click)="showQr()">
                    Udostępnij
                  </button>
    </div>
</div>
<br>
<!-- end client -->

<div id="mycard" class="card bg-transparent m" *ngIf="ifConnecting || !(questions?.length > 0) ">
    <div class="lds-roller" *ngIf="ifConnecting">
        <!-- hack zeby roller dzialal, nie usuwac -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h2 *ngIf="!ifConnecting && !(questions?.length> 0)"> Nie ma jeszcze żadnych pytań...</h2>
</div>


<div [hidden]="true" id="qr">
    <ngx-qrcode (click)="showQr()" qrc-errorCorrectionLevel="H" qrc-element-type="url" [qrc-value]="shortLink"></ngx-qrcode>
</div>

<br>
<div *ngIf="opened" class="card bg-light mb-3" id="questionPanel">
    <div class="card-header">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Tak/Nie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kilka odpowiedzi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ocena</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">Pytanie Tak/Nie</h5>
        <input type="text" class="form-control" id="question" placeholder="Twoje pytanie" required ngModel name="question" #question="ngModel">
        <div *ngIf="question.invalid && submitted " class="alert alert-danger">
            Puste pytanie!
        </div>
        <br>
        <button type="button" class="btn btn-success" (click)="sendQuestion()"><i class="fas fa-check-circle"></i> Zadaj pytanie</button>
        <button type="button" class="btn btn-light float-right" (click)="questionPanel()"><i class="fas fa-times-circle" ></i></button>
    </div>

</div>

<br>
<div class="card bg-light mb-3" *ngFor="let element of questions">
    <div class="card-header">
        <span>{{element.question}}</span>
        <button *ngIf="admin" type="button" class="btn btn-danger float-right" (click)="deleteQuestion(element)"><i class="fas fa-times-circle" ></i></button>
        <button type="button" class="btn btn-success float-right" (click)="hideQuestion(element)"><i id={{element.id}} class="fas fa-angle-down"></i></button>
    </div>

    <div *ngIf="element.hidden" class="card-body">
        <div *ngFor="let ans of element.answers" class="form-check">
            <form>
                <label>
                <input type="radio" [(ngModel)]="element.selected" name="radiogroup" [value]="ans">
                {{ans}}
            </label>
            </form>
        </div>

        <button (click)="sendAnswer(element)" type="button" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Wyślij odpowiedź!</button>
        <br>
        <span>{{element.numberOfVotes}}</span>

        <app-chart [question]=element [chartTrigger]="chartTrigger"> </app-chart>
    </div>
</div>

<router-outlet></router-outlet>
