<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="my-card">
            <div class="my-card-header">
                <h3>{{'join-room.title' | translate}}</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="roomName">{{'join-room.join-desc' | translate}}</label>

                    <div>
                        {{url}}
                        <input type="text" class="form-control" [(ngModel)]="shortLink" placeholder="{{ 'join-room.join-butt' | translate}}">
                    </div>
                    <div *ngIf="(shortLink == undefined || shortLink == '') && submitted" class="error alert alert-danger">{{'join-room.error.empty' | translate}}</div>
                    <div *ngIf="error != null" class="error alert alert-danger">{{'join-room.error.notFound' | translate}}</div>
                </div>
            </div>
            <button (click)="joinRoom()" type="button" class="btn btn-success">{{'join-room.join-butt' | translate}} <i class="fas fa-sign-in-alt"></i></button>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="my-card">
            <div class="my-card-header">
                <h3>{{'join-room.last' | translate}}</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li *ngFor="let element of array" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <h4>{{element.roomName}}</h4>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <button [routerLink]="['/pollroom/'+element.id]" type="button" class="btn-success btn">{{'join-room.go' | translate}} <i class="fas fa-sign-in-alt"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>