<div class="row">

  <div class="col-md-12">

    <div class="card bg-dark my-5 ">

      <div class="card-body">
        <h2 class="card-title text-center text-white py-3">Stwórz przykładowego Polla</h2>
      </div>
    </div>

    <div class="input-group input-group-lg my-5">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Pytanie</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>

    <div *ngFor="let i of Arr(num).keys()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Odpowiedź {{i}}</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>

    <button class="btn btn-primary mr-3" (click)="add_answer_input() ">Plus</button>
    <button class="btn btn-primary" (click)="remove_answer_input() ">Minus</button>



    <router-outlet></router-outlet>
  </div>
</div>
