<nav class="navbar navbar-dark  navbar-expand-md" style="background-color: #000000;">
    <a class="navbar-brand" href="/">Instant Polls</a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/#/rooms">Stworzone pokoje</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/#/join">Dołącz do pokoju</a>
            </li>
        </ul>
    </div>

</nav>