body:before {
    content: "";
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: -10;
    background: url(assets/images/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}