<div class="card col-sm-12 py-3 mt-3">

    <div class="row py-3">
      <div class="col-sm-4">
        <button [routerLink]="['/rooms']" type="button" class="btn btn-primary btn-block py-5">
          Stwórz pokój
        </button>
      </div>
      <div class="d-none d-sm-block col-sm-8">
        <h2 class=" text-dark py-5 ">Stwórz swój własny pokój ankiet</h2>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-block py-5 ">
          Dołącz
        </button>
      </div>
      <div class=" col-sm-8 .d-none">
        <h2 class="d-none d-sm-block text-dark py-5 ">Dołącz do pokoju ankiet.</h2>
      </div>
    </div>

  <router-outlet></router-outlet>

  <div class= "card col-sm-12 py-2 mt-5 ">
    <h2>Poll</h2>
    <div class="card-body">
      <p class="col-sm-10 ">
        Koniec ze żmudnym drukowaniem kartek czy liczeniem rąk w górze. Nadszedł czas na Poll.
        Poll jest świetnym rozwiązaniem na zebraniu lub wykładzie.
        Korzystaj wszędzie tam gdzie łatwość i szybkość zbierania opinii jest bardzo ważna.
      </p>
    </div>
  </div>
</div>



