<div class="row">

  <div class="col-md-12">

    <div class="card bg-dark my-5 ">

      <div class="card-body">
        <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
      </div>
    </div>

    <div class="card bg-light my-5 ">

      <div class="card-body">
        <h2 class="card-title text-center text-dark py-3">
          <button (click)="createRoom()" type="button" class="btn btn-primary btn-lg btn-block">Stwórz pokój</button>
        </h2>
      </div>
    </div>


    <router-outlet></router-outlet>
  </div>
</div>